In [1]:
import pandas as pd

In [2]:
data_all = "Output/2019_2020_mixed_beverage"


df_all = pd.read_csv(data_all, encoding="utf-8")

In [10]:
#efficient way to extract year from string format date
df_all['year'] = pd.DatetimeIndex(df_all['obligation_end_date_yyyymmdd']).year
df_all['month'] = pd.DatetimeIndex(df_all['obligation_end_date_yyyymmdd']).month
df_all.location_city.head()

0    RICHMOND
1     GRANGER
2        WACO
3     HOUSTON
4     HOUSTON
Name: location_city, dtype: object

In [4]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 26 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   taxpayer_number                      120000 non-null  int64
 1   taxpayer_name                        120000 non-null  object
 2   taxpayer_address                     120000 non-null  object
 3   taxpayer_city                        120000 non-null  object
 4   taxpayer_state                       119912 non-null  object
 5   taxpayer_zip                         119912 non-null  float64
 6   taxpayer_county                      120000 non-null  int64
 7   location_number                      120000 non-null  int64
 8   location_name                        120000 non-null  object
 9   location_address                     120000 non-null  object
 10  location_city                        120000 non-null  object
 11  location_state                       120000 non-null  object
 12  location_zip                         120000 non-null  int64
 13  location_county                      120000 non-null  int64
 14  inside_outside_city_limits_code_y_n  120000 non-null  object
 15  tabc_permit_number                   120000 non-null  object
 16  responsibility_begin_date_yyyymmdd   120000 non-null  object
 17  obligation_end_date_yyyymmdd         120000 non-null  object
 18  liquor_receipts                      120000 non-null  int64
 19  wine_receipts                        120000 non-null  int64
 20  beer_receipts                        120000 non-null  int64
 21  cover_charge_receipts                120000 non-null  int64
 22  total_receipts                       120000 non-null  int64
 23  responsibility_end_date_yyyymmdd     5016 non-null    object
 24  year                                 120000 non-null  int64
 25  month                                120000 non-null  int64
dtypes: float64(1), int64(12), object(13)
memory usage: 23.8+ MB

In [14]:
city_mask = (df_all.location_city == "HOUSTON")|(df_all.location_city == "DALLAS")|(df_all.location_city == "FORT WORTH")|(df_all.location_city == "SAN ANTONIO")|(df_all.location_city == "AUSTIN")
dfcities = df_all[city_mask]
dfcities

,taxpayer_number,taxpayer_name,taxpayer_address,taxpayer_city,taxpayer_state,taxpayer_zip,taxpayer_county,location_number,location_name,location_address,...,responsibility_begin_date_yyyymmdd,obligation_end_date_yyyymmdd,liquor_receipts,wine_receipts,beer_receipts,cover_charge_receipts,total_receipts,responsibility_end_date_yyyymmdd,year,month
3,32054228120,S & KW CORPORATION,6617 CHIMNEY ROCK RD,HOUSTON,TX,77081.0,101,1,NAZARETH CAFE,6617 CHIMNEY ROCK RD,...,2014-08-01T00:00:00.000,2019-01-31T00:00:00.000,3212,0,2509,0,5721,NaN,2019,1
4,32000861685,"FOUNTAIN FOODS, INC.",25600 WESTHEIMER PKWY STE 110,KATY,TX,77494.0,79,2,HARVEST ORGANIC GRILLE,1810 FOUNTAIN VIEW DR,...,2012-08-21T00:00:00.000,2019-01-31T00:00:00.000,0,0,0,0,0,2019-06-01T00:00:00.000,2019,1
5,17526234541,"THE KING LOUNGE, INC.",3684 ASBURY ST,DALLAS,TX,75205.0,57,1,THE KING LOUNGE INC,1602 MARKET CENTER BLVD,...,1996-02-15T00:00:00.000,2019-01-31T00:00:00.000,0,0,0,0,0,2019-01-16T00:00:00.000,2019,1
10,32061761998,WICKED WINGS LLC,615 W SLAUGHTER LN STE 108,AUSTIN,TX,78748.0,227,2,BUCKET'S BACKYARD BAR AND GRILL,9900 S INTERSTATE 35 BLDG M STE 200,...,2017-03-17T00:00:00.000,2019-01-31T00:00:00.000,8777,215,15076,0,24068,2019-09-09T00:00:00.000,2019,1
12,32059688088,"RICHMOND MIA BELLA, LLC",19 MAYMONT WAY,SPRING,TX,77382.0,170,1,MIA BELLA TRATTORIA,3773 RICHMOND AVE STE 1A,...,2017-05-09T00:00:00.000,2019-01-31T00:00:00.000,12965,25073,2298,0,40336,2019-06-13T00:00:00.000,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119989,32055936457,"CAFI TOULOUSE RIVER OAKS DISTRICT, LP",3100 MONTICELLO AVE STE 325,DALLAS,TX,75205.0,57,1,CAFE TOULOUSE,4444 WESTHEIMER RD STE E100,...,2015-05-29T00:00:00.000,2020-12-31T00:00:00.000,178933,206491,8562,0,393986,NaN,2020,12
119990,17215567953,"FUN AND SPIRITS, INC.",223 W RHAPSODY DR,SAN ANTONIO,TX,78216.0,15,1,CROSS-EYED SEAGULL,19141 STONE OAK PKWY # 206,...,2004-12-27T00:00:00.000,2020-12-31T00:00:00.000,35832,20,13969,0,49821,NaN,2020,12
119994,32070563070,KAPRI ULTRA LOUNGE LLC,6239 WARWICK GARDEN LN,SPRING,TX,77379.0,101,1,KAPRI ULTRA LOUNGE,5718 FAIRDALE LN,...,2019-08-21T00:00:00.000,2020-12-31T00:00:00.000,37373,232,369,0,37974,NaN,2020,12
119996,17430007959,"SJ2 RESTAURANT GROUP, LLC",PO BOX 100510,SAN ANTONIO,TX,78201.0,15,7,JARDIN,555 FUNSTON PL,...,2020-09-15T00:00:00.000,2020-12-31T00:00:00.000,20277,29423,1680,0,51380,NaN,2020,12
119998,32046211747,ES TRADING INTERNATIONAL CO.,3000 WOODRIDGE DR,HOUSTON,TX,77087.0,101,1,TACO PALENQUE,3000 WOODRIDGE DR,...,2018-11-09T00:00:00.000,2020-12-31T00:00:00.000,0,0,0,0,0,NaN,2020,12